Source: num-utils-ng
Section: math
Priority: extra
Maintainer: serge guelton <serge.guelton@enst-bretagne.fr>
Build-Depends: cdbs, debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.2
Homepage: http://projet11efr.github.com/project11/
#Vcs-Git: git://git.debian.org/collab-maint/num-utils-ng.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/num-utils-ng.git;a=summary

Package: num-utils-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: num-utils
Description: Programs for dealing with numbers from the command line.
  The 'num-utils' are a set of programs for dealing with numbers from the
  Unix command line. Much like the other Unix command line utilities like
  grep, awk, sort, cut, etc. these utilities work on data from both
  standard in and data from files.
  Includes these programs:
   * numaverage: A program for calculating the average of numbers.
   * numbound: Finds the boundary numbers (min and max) of input.
   * numinterval: Shows the numeric intervals between each number in a sequence.
   * numnormalize: Normalizes a set of numbers between 0 and 1 by default.
   * numgrep: Like normal grep, but for sets of numbers.
   * numprocess: Do mathematical operations on numbers.
   * numsum: Add up all the numbers.
   * numrandom: Generate a random number from a given expression.
   * numrange: Generate a set of numbers in a range expression.
   * numround: Round each number according to its value.
